.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  background-color: rgb(2, 13, 61);
}

.nav-links{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.heading{
  flex: 3;
  color: white;
  font-size: 40px;
}

footer{
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: space-around;
  background-color: rgb(2, 13, 61);
  color: white;
}
.shop-image{
  height: 200px;
  width: 200px;
}

img{
  height: 500px;
  width: 500px;
}


.item{
  border: rgb(2, 13, 61) solid 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
h2{
  text-decoration: none;
  font-style: italic;
}

 
span{
  color: rgb(8, 177, 8);
  font-size: 20px;
}

.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border: solid black 5px;
  padding: 100px;
}
td{
  border:  solid 1px rgb(10, 43, 190); 
  padding-left: 50px;
  padding-right: 50px;
  /* border-left:  solid 1px rgb(10, 43, 190); */
}
th{
  border: solid 5px rgb(10, 43, 190);
  color: rgb(167, 154, 83);
}

.clear{
  margin-bottom: 20px;
  font-size: 30px;
  color: red;
  border-radius: 10px;
}

.go-to-shop{
  font-size: 60px;
  text-decoration: none;
}

.update-buttons button{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
  font-family: monospace;
}

.display-right{
  text-align: right;
  align-items: right;
  justify-content: right;
}
.total-and-clear{
  display: flex;
}

.total-and-clear{
  text-align: center;
}

.total-and-clear h2{
  flex:2;
}

.total-and-clear div{
  padding-right: 40px;
  flex: 1;
  margin-left: 70%;
}